.chat__wpapper {
  width: 170px;
  height: 50px;
  padding: 5px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  border: 1px solid #ccc;
  border-radius: 5px;
}

.chimg__wrapper {
  display: flex;
  align-items: center;
  position: relative;
  overflow: hidden;
  text-overflow: ellipsis;
}

.chat__letters,
.chat__img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
  margin-right: 7px;
  line-height: 30px;
  text-align: center;
  font-size: 15px;
}

.chat__position {
  position: absolute;
  left: 40px;
  top: 88%;
  font-size: 10px;
  line-height: 0.2;
  color: #000;
}

.chat__name {
  font-size: 15px;
  line-height: 1;
  width: 100px;
  max-width: 100px;
  overflow: hidden;
  text-overflow: ellipsis;
}

.not__allow {
  margin-left: 5px;
  cursor: pointer;
}

.crs {
  text-decoration: line-through;
}
